<p><%= pluralize(idea.upvotes.length, 'vote') %></p>
<% if user_signed_in? %>
  <% if Upvote.where(idea_id: idea.id, user: current_user).length > 0 %>
  <p><em>(You upvoted this idea)</em></p>
   <% else %>
    <%= link_to idea_upvotes_path(idea), method: :post, remote: true do  %>
      <i class="fas fa-arrow-circle-up upvote-arrow"></i>
    <% end %>
  <% end %>
  <div class="fav-idea" data-fav="<%= @idea.id %>">
    <%= render "shared/add-to-fav", favorite: @idea.favorites.find_by(user: current_user) %>
  </div>
<% end %>
