<div class="ideas-index-container my-3">

  <h1 class='ideas-index-container__title'>Ideas List</h1>

  <% @ideas.each do |idea| %>
    <% @idea = idea %>
    <%= render 'shared/idea-card' %>
  <% end %>
</div>
<div id="new-idea" class="new-idea-card">
  <%= link_to 'New Idea', new_idea_path, class: 'btn-ideas-primary' %>
</div>

