<div class="ideas-index-container my-3">
  <div class="idea-list__grid">
    <% @ideas.each do |idea| %>
      <% @idea = idea %>
        <%= render 'shared/idea-card__preview' %>
    <% end %>
  </div>
</div>

