<h1><%= @idea.title %></h1>
<p><%= @idea.description %></p>

<% if @idea.user == current_user %>
  <%= link_to "Delete", idea_path(@idea), confirm: "Are you sure you want to delete this ?", method: :delete %>
<% end %>
