<div class="idea-box-banner" style="background: linear-gradient(110deg, rgba(255,255,255,0.8), rgba(255,255,255,0.6)), url(<%= image_path 'bg_idea_box.svg' %>)">
  <div class="idea-box-banner_text pb-3">
    <h1 class="idea-box-banner__title">Welcome to the Idea Box</h1>
    <p class="idea-box-banner__subtext">This is an <em>idea box</em> website created by <strong>Le Wagon</strong> members of batch <strong>#321</strong></p>
  </div>
  <%= link_to 'Find new ideas !', ideas_path, class: 'btn-ideas-primary' %>
</div>

