.avatar {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  object-fit: cover;

  &:hover {
    cursor: pointer;
  }
}

.avatar-large {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  object-fit: cover;
}
