.idea-box-banner {
  height: 100vh;
  padding: 30vh 20vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.idea-box-banner__title {
  font-size: 2rem;
  font-weight: bolder;
  color: #617be3;
}

.idea-box-banner__subtext {
  font-size: 1rem;
  font-weight: normal;
  color: #617be380;
}

.idea-box-background {
  height: 100vh;
  padding: 8% 0px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: scroll;
}

.idea-box-background-update {
  height: 100vh;
  padding: 4% 0px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: scroll;
}

.new-idea-box-background {
  height: calc(100vh - 73px);
  padding: 4% 0px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: scroll;
}
