.idea-box-banner {
  height: 100vh;
  padding: 30vh 20vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.idea-box-banner__title {
  font-size: 2rem;
  font-weight: bolder;
  color: #550a46;
}

.idea-box-banner__subtext {
  font-size: 1rem;
  font-weight: normal;
  color: #550a4680;
}
