.btn-ideas-primary {
  padding: 0.4rem 1rem;
  border: 1px solid #617be3;
  background: #FFFFFF;
  border-radius: 3px;
  color: #617be3;
  font-size: 0.9rem;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.1);
  transition: all 0.3s;

  &:hover {
    background: #ff896b;
    box-shadow: 0px 4px 16px rgba(0,0,0,0.2);
    border: 1px solid #ff896b;
    color: #EEEEEE;
  }
}

.btn-ideas-secondary {
  border-radius: 3px;
  color: #617be395;
  font-size: 0.9rem;
  font-style: italic;
  -webkit-transition: all 0.3s;
  transition: all 0.1s;

  &:hover {
    color: #ff896b;
  }
}

// #ff896b
// #617be3
