.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  flex-grow: 1;
}

.link-to-idea {
  width: 100%;
}

.card-and-upvote {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upvote-arrow {
  font-size: 32px;
  margin-left: 1em;
  flex-basis: 5%;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  flex-grow: 1;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-right: 2em;
}

.card-product-infos-and-votes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card-product .card-product-infos {
  padding: 16px;
}

.votes {
  text-align: right;
}
