.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 1em;
  -webkit-box-flex: 1;
  flex-grow: 1;
  border: 1px solid #617be350;
}

.link-to-idea {
  width: 100%;
}

.card-and-upvote {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upvote-arrow {
  font-size: 2rem;
  color: #ff896b;
}

.card-product img {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 1rem;
  font-weight: bold;
  color: #617be3;
}

.card-product p {
  font-size: 0.8rem;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-right: 2em;
}

.card-product-infos-and-votes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card-product .card-product-infos {
  padding: 16px;
}

.votes {
  text-align: right;
}
