.container-idea-comments {
  margin-top: 1em;
  height: 80vh;
  position: relative;
}

.title-and-upvote {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-and-upvote p {
  margin: 0 3em;
}

.votes-in-show {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.votes-in-show p {
  margin: 1em;
}


.card-product-show {
  overflow: hidden;
  background: white;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
  width: 100%;
}



.card-product-show img {
  width: 100%;
}

.card-product-show .card-product-infos-show {
  padding: 2em;
  width: 100%;
}

.card-participations-show {
  overflow: hidden;
  background: white;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 1em;
  width: 100%;

  p {
    margin:0;
    padding-left:10px;
  }
}

.card-participations-show .card-participation {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 10px;
}

.card-participations-show .card-participation .avatar {
  width: 40px;
  height: 40px;
}
.chatroom {
  width: 100%;
  height: 80%;
  margin-left: 1em;
  overflow: scroll;
}

.messages {
  background-color: white;
  width: 100%;
}

.comment-zone {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
}

.image-caroussel {
  object-fit: contain;
  height: 50vh;
}
