.ideas-index-container__title {
  font-size: 1.2rem;
  font-weight: bolder;
  color: #550a46;
}

.idea-list__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 340px);
  grid-gap: 1rem;
  justify-content: space-around;
}
