.index-idea-card {
  width: 340px;
  background: white;
  position: relative;
  height: fit-content;
  border-radius: 10px;
  box-shadow: 0px 4px 16px (0,0,0,0.2);
  border: 1px solid #666666;
}

.index-idea-card__user-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 10px;
  position: absolute;
  top: -20px;
  left: 5%;
}

.index-idea-card__top__photo {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px 8px 0px 0px;
}

.index-idea-card__bottom {
  padding: 16px 16px 5px 16px;
}
.index-idea-card__bottom__infos {
  position: relative;
  height: 85px;
}

.index-idea-card__bottom__title {
  font-size: 1.2rem;
  font-weight: bolder;
  color: #EEEEEE;
  padding: 5px 10px;
  background: #550a46;
  position: absolute;
  top: -40px;
  border-radius: 10px 0px 10px 0px;
}

.index-idea-card__bottom__description {
  color: #666666;
  font-size: 0.9rem;
}

//  attachments likes and who wants to work
.attachments{
  font-size: 13px;
  color: #a9a9a9;
  display: flex;
  justify-content: space-around;
  margin: 16px 20px 5px 20px;
  padding-top: 5px;
  border-top: solid 1px #a9a9a9;

}

.upvotes-done .fa-heart{
  color: red;
}
.participate-done .fa-handshake{
  color: darkblue;
}
