.navbar-lewagon {
  justify-content: space-between;
  background: #550a46;

  .navbar-brand span {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
  }

  .navbar-brand {
    color: #EEEEEE;
    transition: color 0.3s;

    &:hover {
      color: #FFFFFF;
    }
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: #DDDDDD !important;
  transition: color 0.3s;

  &:hover {
    color: #FFFFFF !important;
  }
}
