.navbar-lewagon {
  justify-content: space-between;
  background: #617be3;
  align-items: center;

  .navbar-brand span {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
  }

  .navbar-brand {
    color: #EEEEEE;
    transition: color 0.3s;
    padding-top: 0px;
    padding-bottom: 0px;

    &:hover {
      color: #FFFFFF;
    }
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 110px;
}

.nav-link {
  color: #DDDDDD !important;
  transition: all 0.3s ease;
  padding: 1rem;
  border-bottom: 4px solid #617be3;

  &:hover {
    color: #FFFFFF !important;
    border-bottom: 4px solid #ff896b;
  }
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-item.active {
  .nav-link {
    color: #FFFFFF !important;
    border-bottom: 4px solid #ff896b;
  }
}

.navbar {
  padding: 0px 1rem;
}
