.navbar-lewagon {
  justify-content: space-between;
  background: #550a46;
  align-items: center;

  .navbar-brand span {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
  }

  .navbar-brand {
    color: #EEEEEE;
    transition: color 0.3s;

    &:hover {
      color: #FFFFFF;
    }
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: #DDDDDD !important;
  transition: all 0.1s;
  padding: 1rem 0rem;

  &:hover {
    color: #FFFFFF !important;
    border-bottom: 2px solid #DDDDDD;
  }
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-item.active {
  .nav-link {
    color: #FFFFFF !important;
    border-bottom: 2px solid #DDDDDD;
  }
}
