.notification,
.own-notification {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 10px;
  color: #555555;

  .notification-content {
    flex-grow: 1;
    padding: 0 24px;
  }

  &:first-child {
    margin-top: auto;
  }

  p {
    margin: 0;
    line-height: 1.4;
  }

  small {
    color: $green;
    font-weight: bold;
  }

  .notification-actions {
    opacity: 0;
    display: flex;
    transition: ease .3s;
  }

  &:hover .notification-actions {
    opacity: 1;
  }

  .notification-actions a {
    color: #55555580;
    margin-left: 16px;
    font-size: 14px;
  }

  .notification-actions a:hover {
    color: #555555;
  }
}

.notification {
  background: white;
}

.own-notification {
  background: #617be360;
}
