.selectors {
  display: flex;
  height: 5vh;
  align-items: center;
}

.selector {
  padding: 0.5em 2em;
  color: #FFFFFF80;

  &:hover {
    cursor: pointer;
  }
}

.selector.active {
  box-shadow: 0 -4px 0 #617be3 inset;
  color: #FFFFFF;
}

.hidden {
  display: none;
}
