.profile-card {
  background: white;
  height: fit-content;
  width: fit-content;
  padding: 1rem;
  padding-top: 0rem;
  border-radius: 4px;
  border: 1px solid #55555560;
}

.profile-card__user-name {
  border-bottom: 0.5px solid #617be3;
}

.profile-card__avatar {
  position: relative;
  top: -10px;
}

.profile-card__title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #617be3;
}

.profile-card__list {
  padding: .5rem;

  .icone-profil {
    color: #ff896b;
  }
}

.profile-ideas-list-container {
  background: white;
  width: 100%;
  padding-top: 0.5rem;
  border-radius: 4px;
  border: 1px solid #55555560;

  h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #617be3;
  }
}

.profile-card__list__text {
  color: #555555;
  transition: 0.2s;
}

.github-link {
  .profile-card__list__text:hover {
    color: #333333;
  }
}

.profile-idea-list {
  padding-left: 0px;

  .index-idea-card__user-image {
    display: none;
  }
}

.horizontal-scrolling-card {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
